<h2>Advertencias Rentabilidad</h2>

<p>Hola {{ user_name }},</p>

<p>Estos files tienen una rentabilidad fuera del rango normal:</p>

<ul>
    {% for booking in bookings %}
        {% if booking.rent_perc < 0.1 %}
            <li>Rentabilidad baja: {{ booking.rent_perc }}</li>
        {% elif booking.rent_perc > 0.49 %}
            <li>Rentabilidad alta: {{ booking.rent_perc }}</li>
        {% endif %}
    {% endfor %}
</ul>
<p>{{ note }}</p>
<br>
<small>Rango normal: 10% a 49% </small>

<p>Saludos,<br>Intrawen</p>