{% extends "intranet/layout.html" %}
{% load custom_filters %}

{% block body %}
{% if user.userType != "Cliente" %}

<div class="container py-5 text-center">

    <h3 class="mb-4">Gestionar tarifario</h3>

    <div class="d-flex justify-content-center gap-4">

        <a href="{% url 'locations' %}"
           class="btn btn-dark btn-lg px-5">
            DESTINOS
        </a>

        <a href="{% url 'accommodation' %}"
           class="btn btn-dark btn-lg px-5">
            ALOJAMIENTO
        </a>

        <a href="{% url 'service' %}"
           class="btn btn-dark btn-lg px-5">
            SERVICIO
        </a>

    </div>

</div>
{% endif %}
{% endblock %}