<div class="general-conditions">
    <h2>General Conditions</h2>

    <h3>General</h3>
    <ul>
        <li>All rates are net, per person, in USD American Dollars.</li>
        <li>All rates include the current Argentinean Taxes. In case these taxes are modified prices will suffer a change.</li>
        <li>Hotel rates with breakfast DO NOT INCLUDE VAT, in order to apply for this benefit we need full Client details and copy of the passport of every person travelling to Argentina <strong>at the moment of the booking</strong>, otherwise additional 21% of VAT will apply and needs to be added to the rates shown in this Tariff. If the hotel is paid and the booking is cancelled, VAT will apply and will have to be paid additionally. For any other service required to a hotel (wines, extra amenities, massages, etc), and for all the activities they provide as part of their rate such as (but not limited to) transfers, additional meals, services and excursions VAT will apply and is included in the rate shown in this Tariff.</li>
        <li>All rates are subject to changes without previous notice.</li>
        <li>All the rates of services are not valid for Easter, Long weekends, Christmas and New Year, where special prices apply almost everywhere. Kindly check with us for further details as each property applies a different policy.</li>
        <li>All these rates do not imply any booking nor confirmation.</li>
        <li>This tariff is valid for the dates informed in each property/service at each destination.</li>
        <li>All the Hotels include breakfast (unless specifically mentioned that other meals are included or not included).</li>
        <li>All transfers in Buenos Aires include tips for the drivers. For the rest of the destinations tips are not included.</li>
        <li>For all transfers and connections in case flights are delayed Aliwen will charge the necessary additional hours.</li>
        <li>Entrance Fees to National Parks, Museums and Other Natural Reserves are only included where specifically mentioned.</li>
        <li>All Excursions are subject to weather conditions.</li>
        <li>This Tariff includes most of the hotels and services which we recommend in Argentina, but if you need further assistance for other options we will be happy to send a Tailor Made quote for your passengers.</li>
    </ul>

    <h3>Security</h3>
    <ul>
        <li>All passengers need to have a personal "Travel Insurance". In case they do not have their own we will be happy to quote this additional for you.</li>
    </ul>

    <h3>Payments</h3>
    <ul>
        <li>All services must be pre-paid at least 30 days prior to the arrival of the passengers to Argentina.</li>
        <li>In case the itinerary includes hotels which request pre-payments, this will be requested to confirm the booking together with the copy of the passports.</li>
        <li><strong>For all payments under USD 2,000 American Dollars, we request a Bank Transfer fee of USD 20 which needs to be added to the total of the services paid.</strong></li>
    </ul>

    <h3>Cancellations</h3>
    <ul>
        <li>For itineraries cancelled between 60 and 30 days prior to the arrival to Argentina, Aliwen Incoming will refund all the services and Hotels which do refund us the payments, discounting any bank expenses resulting in the payments already done. This will depend on the policies of each hotel and service of the itinerary.</li>
        <li>For itineraries cancelled between 29 days and the day of the arrival to Argentina, Aliwen Incoming will charge a cancellation penalty of <strong>15% of the total Invoice of the Itinerary, plus the cancellation of all the hotels and services which charge us cancellation penalties and the bank expenses resulting on the payments already done.</strong></li>
    </ul>
</div>
