{% extends "intranet/layout.html" %}

{% block body %}
{% if user.userType != "Cliente" %}
    <div id="supplier_list">
        <div class="container">
            <br>
            <div class="d-flex align-items-center justify-content-between">
                <h2>TARIFAS - {{ supplier.name }}</h2>
                <div>
                    <select class="form-select" aria-label="product_filter" name="product_filter" id="product_filter_select">
                        <option value="all">Todos</option>
                        
                        {% for product in products %}
                            <option value="{{ product.id }}">{{ product.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div id="new_supplier_container">
                        <div>
                            {% if user.isAdmin %}
                            <button type="button" id="new_block_btn" class="btn btn-dark btn-lg" data-toggle="tooltip" data-placement="left" title="Agregar nuevo bloque tarifario">
                                <i class="fa-solid fa-plus"></i>
                            </button>
                            {% endif %}
                            <a href="{% url 'svs_supplier' %}">
                                <button class="btn btn-dark btn-lg" data-toggle="tooltip" data-placement="left" title="Volver">
                                    <i class="fa-solid fa-rotate-left"></i>
                                </button>
                            </a>
                        </div>  
                    </div>
            </div>
            {% if message_modify %}
                <div class="message text-center">{{ message_modify }}</div>
            {% endif %}

            <div class="col">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Grupo</th>
                            <th>Tarifas</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for block in rate_blocks %}
                        {# HEADER DEL BLOQUE #}
                        <tr class="table-secondary">
                            <td colspan="11">
                                <div class="d-flex align-items-center gap-3">
                                    <strong>
                                        Vigencia: {{ block.date_from|date:"d M Y" }} - {{ block.date_to|date:"d M Y" }}
                                    </strong>
                                    
                                    <div class="d-flex align-items-center gap-2">
                                        <span class="season-display text-primary fw-bold" data-block="{{ forloop.counter }}">
                                            {{ block.season }}
                                        </span>
                                        <input type="text" 
                                            class="form-control form-control-sm season-input d-none" 
                                            data-block="{{ forloop.counter }}"
                                            value="{{ block.season }}"
                                            style="width: 150px;">
                                        {% if user.isAdmin %}
                                        <button class="btn btn-sm btn-outline-secondary copy-block"
                                                data-block="{{ forloop.counter }}"
                                                data-from="{{ block.date_from }}"
                                                data-to="{{ block.date_to }}"
                                                data-season="{{ block.season }}"
                                                title="Copiar bloque">
                                            <i class="fa-solid fa-copy"></i>
                                        </button>
                                        {% endif %}
                                    </div>
                                    <div>Markup: </div>
                                    <div>
                                        <span class="margin-display text-primary fw-bold" data-block="{{ forloop.counter }}">
                                            {{ block.margin }}
                                        </span>
                                        <input type="text" 
                                            class="form-control form-control-sm margin-input d-none" 
                                            data-block="{{ forloop.counter }}"
                                            value="{{ block.margin }}"
                                            style="width: 150px;">
                                    </div>
                                        {# ✅ Nuevo botón expandir/colapsar todo el bloque #}

                                        <div class="ms-auto d-flex gap-2">
                                            <button class="btn btn-sm btn-outline-dark toggle-all-block"
                                                    data-block="{{ forloop.counter }}"
                                                    data-expanded="false"
                                                    title="Expandir/Colapsar todo">
                                                <i class="fa-solid fa-chevron-down"></i>
                                            </button>
                                            {% if user.isAdmin %}
                                            <button class="btn btn-sm btn-dark edit-block"
                                                    data-from="{{ block.date_from }}"
                                                    data-to="{{ block.date_to }}"
                                                    data-block="{{ forloop.counter }}"
                                                    data-editing="false"
                                                    title="Editar bloque">
                                                <i class="fa-solid fa-pencil"></i>
                                            </button>

                                            <button class="btn btn-sm btn-secondary cancel-block d-none"
                                                    data-block="{{ forloop.counter }}"><i class="fa-solid fa-x"></i>
                                            </button>
                                            
                                            <button class="btn btn-sm btn-danger delete-block"
                                                    data-block="{{ forloop.counter }}"
                                                    data-from="{{ block.date_from }}"
                                                    data-to="{{ block.date_to }}"
                                                    data-season="{{ block.season }}"
                                                    title="Eliminar bloque">
                                                <i class="fa-solid fa-trash"></i>
                                            </button>
                                            {% endif %}
                                        </div>
                                </div>
                            </td>
                        </tr>
                        
                        {# FILAS DE TARIFAS #}
                        {% for line in block.lines %}
                        <tr class="row-rateline"
                            data-block="{{ forloop.parentloop.counter }}"
                            data-rateline-id="{{ line.id }}"
                            data-rategroup-id="{{ line.group.id }}">

                            <!-- PRODUCTO -->
                            <td>
                                <button class="btn btn-sm btn-link text-decoration-none toggle-line"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseLine{{ line.id }}">
                                    <i class="fa-solid fa-chevron-right me-2"></i>
                                    {{ line.group.product.name }}
                                </button>
                            </td>

                            <!-- GRUPO -->
                            <td class="group-cell" data-group-id="{{ line.group.id }}">
                                <span class="group-name-display">{{ line.group.name }}</span>
                                <input type="text"
                                    class="form-control form-control-sm d-none group-name-input"
                                    value="{{ line.group.name }}">
                            </td>

                            <!-- VACÍO -->
                            <td></td>

                            <!-- ACCIONES -->
                            <td>
                                {% if user.isAdmin %}
                                    <i class="fa-solid fa-trash text-danger"
                                    data-bs-toggle="modal"
                                    data-bs-target="#windowRateLineTrash{{ line.id }}"></i>
                                {% endif %}
                            </td>

                        </tr>
                        <tr>
                            <td colspan="4" class="p-0 border-0">

                                <div class="collapse" id="collapseLine{{ line.id }}">
                                    <div class="p-3 bg-light">

                                        <table class="table table-sm align-middle mb-0">
                                            <thead class="small text-muted">
                                                <tr>
                                                    <th style="width:80px;">Base</th>
                                                    <th>Costo</th>
                                                    <th>Venta TP</th>
                                                    <th>Venta AI</th>
                                                    <th>Rent</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                {% for base in line.bases %}
                                                <tr>

                                                    <td>
                                                        <span class="badge bg-dark fs-6">
                                                            {{ base.pax }}
                                                        </span>
                                                    </td>

                                                    {% if base.rate %}
                                                        <td class="rate-cell"
                                                            data-rate="{{ base.rate.id }}"
                                                            data-field="cost"
                                                            data-rate-type="{% if base.pax == 1 %}one{% elif base.pax == 2 %}two{% elif base.pax == 3 %}three{% elif base.pax == 4 %}four{% elif base.pax == 5 %}five{% elif base.pax == 6 %}six{% endif %}">
                                                            {{ base.rate.cost|default:"N/A" }}
                                                        </td>

                                                        <td>
                                                            <strong>{{ base.rate.sell_tourplan|default:"N/A" }}</strong>
                                                            <small class="text-muted">
                                                                ({{ base.rate.margin_tp|floatformat:1 }}%)
                                                            </small>
                                                        </td>

                                                        <td class="rate-cell"
                                                            data-rate="{{ base.rate.id }}"
                                                            data-field="sell"
                                                            data-rate-type="{% if base.pax == 1 %}one{% elif base.pax == 2 %}two{% elif base.pax == 3 %}three{% elif base.pax == 4 %}four{% elif base.pax == 5 %}five{% elif base.pax == 6 %}six{% endif %}">
                                                            {{ base.rate.sell|default:"N/A" }}
                                                        </td>

                                                        <td class="margin-cell" data-rate-type="{% if base.pax == 1 %}one{% elif base.pax == 2 %}two{% elif base.pax == 3 %}three{% elif base.pax == 4 %}four{% elif base.pax == 5 %}five{% elif base.pax == 6 %}six{% endif %}">
                                                            {{ base.rate.margin_ai|floatformat:1 }}%
                                                        </td>

                                                    {% else %}
                                                        <td colspan="4" class="text-muted">
                                                            Sin tarifa
                                                        </td>
                                                    {% endif %}

                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>

                                    </div>
                                </div>

                            </td>
                        </tr>
                            <div class="modal fade modal-lg" id="windowRateLineTrash{{ line.id }}" tabindex="-1" aria-labelledby="label{{ supplier.id }}">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-8" id="label{{ line.id }}">Eliminando {{ line.group }}</h1>
                                            <button id="btn-close-line-{{ line.id }}" tyle="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                                        </div>
                                        <div class="modal-body">
                                            <h3>¿Está seguro que desea eliminar la línea {{ line.group }} - {{ line.date_from }} / {{ line.date_to }}?</h3>
                                            <br>
                                            <div class="container text-center">
                                                <button id="delete-line-{{ line.id }}" class="btn btn-dark btn-lg delete-line-btn">ELIMINAR</button></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br>
{% endif %}
{% endblock %}