{% extends "intranet/layout.html" %}

{% block body %}
    <h2>Crear Nuevo Cliente</h2>
    <br>

    {% if message %}
        <div class="message text-center">{{ message }}</div>
    {% endif %}

    <br>
    <div class="container">
        <div class="row">
            <div class="text-center col-4">
                <br>
                <form class="rw-3 text-center" action="{% url 'clients' %}" method="post">
                    {% csrf_token %}
                    <div class="form">
                        <div class="mb-3">
                            <input autofocus class="form-control" type="text" name="name" id="name" placeholder="Nombre">
                        </div>
                        <div class="mb-3">
                            <select class="form-control" aria-label="country" name="country">
                                <option selected value="">País</option>
                                {% for country in countries %}
                                <option value="{{ country.id }}">{{ country.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <input class="btn btn-dark" type="submit" value="GUARDAR">
                    </div>
                </form>
            </div>
            <div class="col-8">
                <table id="clients" class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>País</th>
                            <th>Unidad de Negocio</th>
                            <th>Activado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for client in clients %}
                        <tr id="row-clients-{{client.id}}">
                            <td id="clients-name-{{client.id}}">{{ client.name }}</td>
                            <td id="clients-country-{{client.id}}">{{ client.country }}</td>
                            <td id="clients-department-{{client.id}}">{{ client.department }}</td>
                            {% if client.isActivated == True %}
                                <td id="clients-isActivated-{{client.id}}">Sí</td>
                            {% else %}
                                <td id="clients-isActivated-{{client.id}}">No</td>
                            {% endif %}
                            <td>
                                <div class="justify-content-around d-flex">
                                    <i class="fa-solid fa-pencil pencil-clients" width="1px"" id="pencil-clients-{{client.id}}" aria-hidden="true"></i>
                                    <i class="fa-solid fa-trash" width="1px"" id="trash-clients-{{client.id}}" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#windowClientTrash{{ client.id }}"></i>
                                    <button class="btn btn-dark d-none" id="save-btn-clients-{{client.id}}">GUARDAR</button>
                                </div>
                                <div class="modal fade modal-lg" id="windowClientTrash{{ client.id }}" tabindex="-1" aria-labelledby="label{{ client.id }}">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-8" id="label{{ client.id }}">Eliminando {{ client.name }}</h1>
                                                <button id="btn-close-clients-{{ client.id }}" tyle="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                                            </div>
                                            <div class="modal-body">
                                                <h3>¿Está seguro que desea eliminar el cliente {{ client.name }}?</h3>
                                                <br>
                                                <div class="container text-center">
                                                    <button id="delete-client-{{ client.id }}" class="btn btn-dark btn-lg delete-clients-btn">ELIMINAR</button></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br>
{% endblock %}