{% extends "intranet/layout.html" %}

{% block body %}
    <h2>Crear Nuevo Cliente</h2>
    <br>

    <div class="container">
        <div class="text-center">
            <form class="rw-3 text-center" action="{% url 'clients' %}" method="post">
                {% csrf_token %}
                {{ form }}
                <input class="btn btn-dark" type="submit" value="GUARDAR">
            </form>
        </div>
    </div>
    <br>

    {% for client in clients %}
        <div>{{ client.name }} - {{ client.country }} - {{ client.isActivated }}</div>
    {% endfor %}
{% endblock %}