{% extends "intranet/layout.html" %}

{% block body %}
    <h2>Crear Nuevo Contacto</h2>
    <br>

    {% if message %}
        <div class="message text-center">{{ message }}</div>
    {% endif %}

    <br>
    <div class="container">
        <div class="row">
            <div class="text-center col-4">
                <br>
                <form class="rw-3 text-center" action="{% url 'contacts' %}" method="post">
                    {% csrf_token %}
                    <div class="form">
                        <div class="mb-3">
                            <input autofocus class="form-control" type="text" name="name" id="name" placeholder="Nombre">
                        </div>
                        <div class="mb-3">
                            <input class="form-control" type="email" name="email" id="email" placeholder="E-mail">
                        </div>
                        <div class="mb-3">
                            <select class="form-control" aria-label="client" name="client">
                                <option selected value="">Cliente</option>
                                {% for client in clients %}
                                <option value="{{ client.id }}">{{ client.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <input class="btn btn-dark" type="submit" value="GUARDAR">
                    </div>
                </form>
            </div>
            <div class="col-8">
                <table id="contacts" class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Cliente</th>
                            <th>Email</th>
                            <th>Activado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for contact in contacts %}
                        <tr id="row-contacts-{{contact.id}}">
                            <td id="contacts-name-{{contact.id}}">{{ contact.name }}</td>
                            <td id="contacts-client-{{contact.id}}">{{ contact.client }}</td>
                            <td id="contacts-email-{{contact.id}}">{{ contact.email }}</td>
                            {% if contact.isActivated == True %}
                                <td id="contacts-isActivated-{{contact.id}}">Sí</td>
                            {% else %}
                                <td id="contacts-isActivated-{{contact.id}}">No</td>
                            {% endif %}
                            <td>
                                <div class="justify-content-around d-flex mu-2">
                                    <i class="fa-solid fa-pencil pencil-contacts" id="pencil-contacts-{{contact.id}}" aria-hidden="true"></i>
                                    <i class="fa-solid fa-trash" id="trash-contacts-{{contact.id}}" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#windowContactTrash{{ contact.id }}"></i>
                                    <button class="btn btn-dark d-none" id="save-btn-contacts-{{contact.id}}">GUARDAR</button>
                                </div>
                                <div class="modal fade modal-lg" id="windowContactTrash{{ contact.id }}" tabindex="-1" aria-labelledby="label{{ contact.id }}">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-8" id="label{{ contact.id }}">Eliminando {{ contact.name }}</h1>
                                                <button id="btn-close-contacts-{{ contact.id }}" tyle="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                                            </div>
                                            <div class="modal-body">
                                                <h3>¿Está seguro que desea eliminar el contacto {{ contact.name }}?</h3>
                                                <br>
                                                <div class="container text-center">
                                                    <button id="delete-contact-{{ contact.id }}" class="btn btn-dark btn-lg delete-contacts-btn">ELIMINAR</button></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br>

{% endblock %}