{% extends "intranet/layout.html" %}

{% block body %}

    <h2>Login</h2>

    {% if message %}
        <div class="message text-center">{{ message }}</div>
    {% endif %}

    <br>
    <br>
    <div class="container">
        <form action="{% url 'login' %}" method="post" style="max-width:200px;" class="mx-auto">
            {% csrf_token %}
            <div class="mb-3">
                <input autofocus class="form-control form-control-sm" type="text" name="username" placeholder="Username">
            </div>
            <div class="mb-3">
                <input class="form-control form-control-sm" type="password" name="password" placeholder="Password">
            </div>
            <div class="text-center">
                <input class="btn btn-dark" type="submit" value="Ingresar">
            </div>
        </form>
    </div>
    <br>

{% endblock %}