{% extends "intranet/layout.html" %}

{% block body %}
<div id="modify_entry">
    <div class="container">
        <div class="d-flex justify-content-between">
            <h2>Creando Nueva Entrada para
                <u>{{ trip.name }} - {{ trip.client }}</u></h2>
            <div>
                <a href="{% url 'trips' %}"><button class="btn btn-dark" data-toggle="tooltip" data-placement="left" title="Volver"><i class="fa-solid fa-rotate-left"></i></button></a>
            </div>
        </div>

        {% if message %}
            <div class="message text-center">{{ message }}</div>
        {% endif %}

        <br>
        <br>
        <div class="text-center">
            <form class="rw-3 text-center" action="{% url 'create_entry' trip.id %}" method="post">
                {% csrf_token %}
                <div class="form">
                    <div class="row">
                        <div class="mb-3 col-6">
                            <div class="row">
                                <label for="starting_date" class="col">Fecha Pedido</label>
                                <input class="form-control datetime-input col" type="datetime-local" name="starting_date" id="starting_date" data-mdb-inline="true" placeholder="Fecha Ingreso">
                            </div>
                        </div>
                        <div class="mb-3 col-6">
                            <select autofocus class="form-select" aria-label="status" name="status">
                                <option selected value="">Status</option>
                                {% for option in status %}
                                    {% if trip.version_quote == "@" and option.0 == "Quote" %}
                                        <option value="{{ option.0 }}" selected>{{ option.0 }}</option>
                                    {% else %}
                                        <option value="{{ option.0 }}">{{ option.0 }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-6">
                            <select class="form-select" aria-label="importance" name="importance">
                                <option selected value="">Importancia</option>
                                {% for option in importance_options %}
                                    {% if option.0 == "7 - ALTA - standard" %}
                                        <option value="{{ option.0 }}" selected>{{ option.0 }}</option>
                                    {% else %}
                                        <option value="{{ option.0 }}">{{ option.0 }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3 col-6">
                            <select class="form-select" aria-label="user_working" name="user_working" id="user_working_select">
                                <option selected value="">Trabajado por</option>
                                {% for user in users %}
                                    {% if user.isActivated and user.department == request.user.department %}
                                        <option value="{{ user.username }}">{{ user.username }} - {{ user.other_name}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-12">
                            <input class="form-control" type="text" maxlength="100" name="note" id="note" placeholder="Observación (de esta cotización/reserva)...">
                        </div>
                    </div>
                    <input class="btn btn-dark" type="submit" value="GUARDAR" data-bs-toggle="modal" data-bs-target="#windowEditEntry{{ user.id }}">
                </div>
            </form>
        </div>
        <div class="modal fade modal-lg editing-entry" id="windowEditEntry{{ user.id }}" tabindex="-1" aria-labelledby="labelEditEntry">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-8" id="labelEditEntry">Modificar entrada</h1>
                        <button id="btn-close-edit-entry" tyle="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                    </div>
                    <div class="modal-body">
                        <h3>¿Desea editar ahora los demás campos de la entrada?</h3>
                        <p>Se podrán agregar en esta opción más detalles.</p>
                        <br>
                        <div class="container text-center">
                            <a href="" id="link-edit-entry{{request.user.id}}"><button id="create-entry" class="btn btn-dark btn-lg">EDITAR</button></a>
                            <a href="{% url 'trips' %}"><button id="close-new-entry" class="btn btn-dark btn-lg">CERRAR</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<hr>
<br>

<div class="container">
    <br>
    <div>
        <h2 class="d-inline">Pendientes</h2>
        <i class="fa-solid fa-lg fa-eye-slash m-3" id="pending-eye" aria-label="ver-todos"></i>
    </div>
    <br>
    <div class="row">
        <div class="col-12">
            <div class="table table-striped" style="width:100%">
                <table id="entries-creating" class="table table-hover">
                    <thead>
                        <tr>
                            <th>Fecha Pedido</th>
                            <th>Fecha Respuesta</th>
                            <th>Viaje</th>
                            <th>Status</th>
                            <th>Versión</th>
                            <th>Monto</th>
                            <th>Creado por</th>
                            <th>Trabajado por</th>
                            <th>Progreso</th>
                            <th>Valoración</th>
                        </tr>
                        <tbody>
                            {% for entry in entries %}
                                {% if entry.isClosed != False %}
                                    <tr class="d-none pending-entry">
                                {% else %}
                                    <tr>
                                {% endif %}
                                    <td>{{entry.starting_date}}</td>
                                    {% if entry.isClosed == False %}
                                        <td>n/a</td>
                                    {% else %}
                                        <td>{{entry.closing_date}}</td>
                                    {% endif %}
                                    <td>{{entry.trip}}</td>
                                    <td>{{entry.status}}</td>
                                    {% if entry.status == "Quote" %}
                                        <td>{{entry.version_quote}}</td>
                                    {% else %}
                                        <td>{{entry.version_booking}}</td>
                                    {% endif %}
                                    {% if entry.amount == none %}
                                        <td>Pendiente</td>
                                    {% else %}
                                        <td>{{entry.amount}}</td>
                                    {% endif %}
                                    <td>{{entry.user_creator}}</td>
                                    <td>{{entry.user_working}}</td>
                                    <td>{{entry.progress}}</td>
                                    <td>{{entry.importance}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}