{% extends "intranet/layout.html" %}

{% block body %}
<div id="entry_list">
    <br>
    <div class="d-flex align-items-center justify-content-between">
        <div>
            <h2 class="d-inline">Pendientes</h2>
            <i class="fa-solid fa-lg fa-eye-slash m-3" id="pending-eye" aria-label="ver-todos"></i>
        </div>
        <div>
            <select class="form-select" aria-label="user_filter" name="user_filter" id="user_filter_select">
                <option value="">Todos</option>
                {% for user in users %}
                    {% if user.isActivated and user.department == request.user.department %}
                        {% if user.userType == "Ventas" or user.userType == "Operaciones" %}
                            <option value="{{ user.username }}">{{ user.username }} - {{ user.other_name }}</option>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="row m-2">
            <div class="col bg-light d-flex text-center">En tiempo</div>
            <div class="col bg-warning bg-gradient d-flex align-items-center justify-content-center">Al límite</div>
            <div class="col bg-info d-flex align-items-center justify-content-center">Vencido</div>
            <div class="col bg-danger text-center">Muy vencido</div>
        </div>
    
    </div>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <br>
    <div class="row">
        {% csrf_token %}
        <div class="col-12">
            <div class="table table-striped" style="width:100%">
                <table id="entries" class="table table-hover">
                    <thead>
                        <tr>
                            <th>Fecha Pedido</th>
                            <th>Fecha Respuesta</th>
                            <th>Viaje</th>
                            <th>Status</th>
                            <th>Monto</th>
                            <th>Cliente</th>
                            <th>Vendedor</th>
                            <th>Referencia</th>
                            <th>Cot. por</th>
                            <th>Trab. por</th>
                            <th>Progreso</th>
                            <th>Valoración</th>
                            <th>Observación</th>
                            <th>Fecha Viaje</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    
                </table>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}