{% extends "intranet/layout.html" %}

{% block body %}
<div class="container text-center mb-2">
    <h1>ESTADÍSTICAS</h1>
    <hr>
    <div class="row">
        <button class="btn btn-dark col m-4 stats-btn" id="stats-btn-1"><h3>Semanal</h3></button>
        <button class="btn btn-dark col m-4 stats-btn" id="stats-btn-2"><h3>Mensual</h3></button>
    </div>
    <div class="row">
        <button class="btn btn-dark col m-4 stats-btn" id="3-stats-btn"><h3>Temporada</h3></button>
        <button class="btn btn-dark col m-4 stats-btn" id="4-stats-btn"><h3>Personalizado</h3></button>
    </div>
    <hr>
    <div id="1-stats-form" class="stats-form d-none">
        <form>
            <div class="form">
                <div class="row">
                    <div class="m-3 col">
                        <select autofocus class="form-control" aria-label="Semana" name="week" id="week-select">
                            {% for week in weeks %}
                                {% if week.0 == this_week %}
                                    <option selected value="{{ week.0 }}">{{ week.1 }}</option>
                                {% else %}
                                    <option value="{{ week.0 }}">{{ week.1 }}</option>
                                {% endif %}
                            {% endfor%}
                        </select>
                    </div>
                    <div class="m-3 col">
                        <select class="form-control" aria-label="Tipo" name="type" id="type-select-1">
                            <option value="entries">Entradas</option>
                            <option value="trips">Viajes</option>
                        </select>
                    </div>
                    <div class="m-3 col"><input id="2-generate-btn" class="btn btn-dark" type="submit" value="GENERAR"></div>
                </div>
            </div>
        </form>
        <hr>
    </div>
    <div id="2-stats-form" class="stats-form d-none">
        <form>
            <div class="form">
                <div class="row">
                    <div class="m-3 col">
                        <select autofocus class="form-control" aria-label="Mes" name="month" id="month-select">
                            {% for month in months %}
                                {% if month.0 == this_month %}
                                    <option selected value="{{ month.0 }}">{{ month.1 }}</option>
                                {% else %}
                                    <option value="{{ month.0 }}">{{ month.1 }}</option>
                                {% endif %}
                            {% endfor%}
                        </select>
                    </div>
                    <div class="m-3 col">
                        <select class="form-control" aria-label="Year" name="year" id="year-select">
                            <option value="{{this_year}}">{{this_year}}</option>
                            <option value="2026">2026</option>
                            <option value="2027">2027</option>
                        </select>
                    </div>
                    <div class="m-3 col">
                        <select class="form-control" aria-label="Tipo" name="type" id="type-select-2">
                            <option value="entries">Entradas</option>
                            <option value="trips">Viajes</option>
                        </select>
                    </div>
                    <div class="m-3 col"><input id="2-generate-btn" class="btn btn-dark" type="submit" value="GENERAR"></div>
                </div>
            </div>
        </form>
        <hr>
    </div>
    <div id="4-stats-form" class="stats-form d-none">
        <form>
            <div class="form">
                <div class="row">
                    <div class="m-3 col">
                        <input class="form-control datetime-input col" type="datetime-local" name="date-from" id="date-from" data-mdb-inline="true" placeholder="Fecha Desde">
                    </div>
                    <div class="m-3 col">
                        <input class="form-control datetime-input col" type="datetime-local" name="date-to" id="date-to" data-mdb-inline="true" placeholder="Fecha Hasta">
                    </div>
                    <div class="m-3 col">
                        <select class="form-control" aria-label="Tipo" name="type" id="type-select-4">
                            <option value="entries">Entradas</option>
                            <option value="trips">Viajes</option>
                        </select>
                    </div>
                    <div class="m-3 col"><input id="4-generate-btn" class="btn btn-dark" type="submit" value="GENERAR"></div>
                </div>
            </div>
        </form>
        <hr>
    </div>
    <div id="stats-sum" class="d-none">
        <table id="stats-totals" class="table table-striped">
        </table>
    </div>
    <div id="presentation-buttons" class="d-none text-left my-3">
        <button id="stats-presentation-1" class="btn btn-primary presentation-button">
            📊 Ver Reporte Completo
        </button>
    </div>
    <div id="report_results" class="stats-results">

    </div>
</div>
{% endblock %}