{% extends "intranet/layout.html" %}

{% block body %}
<div id="new_trip" class="d-none">
    <h2>Crear Nuevo Viaje</h2>

    {% if message %}
        <div class="message text-center">{{ message }}</div>
    {% endif %}

    <br>
    <br>
    <div class="container">
        <div class="text-center">
            <form class="rw-3 text-center" action="{% url 'trips' %}" method="post">
                {% csrf_token %}
                <div class="form">
                    <div class="mb-3">
                        <input autofocus class="form-control-sm" type="text" name="name" id="name" placeholder="Nombre">
                    </div>
                    <div class="mb-3">
                        <input autofocus class="form-control-sm date-input" type="date" name="starting_date" id="starting_date" value="today();" data-mdb-inline="true" placeholder="Fecha Ingreso">
                    </div>
                    <div class="mb-3">
                        <input autofocus class="form-control-sm date-input" type="date" name="travelling_date" id="travelling_date" value="today();" data-mdb-inline="true" placeholder="Fecha Ingreso">
                    </div>
                    <div class="mb-3">
                        <select class="form-control-sm" aria-label="client" name="client">
                            <option selected>Cliente</option>
                            {% for client in clients %}
                            <option value="{{ client.id }}">{{ client.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <select class="form-control-sm" aria-label="contact" name="contact">
                            <option selected>Contact</option>
                            {% for contact in contacts %}
                            <option value="{{ contact.id }}">{{ contact.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <input autofocus class="form-control-sm" type="text" name="client_reference" id="client_reference" placeholder="Referencia Cliente">
                    </div>
                    <div class="mb-3">
                        <select class="form-control-sm" aria-label="status" name="status">
                            <option selected>Status</option>
                            {% for option in status %}
                            <option value="{{ option.0 }}">{{ option.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <input class="btn btn-dark" type="submit" value="GUARDAR">
                </div>
            </form>
        </div>
    </div>
</div>
<div id="new_trip_container" class="container text-center">
    <button id="new_trip_btn" class="btn btn-dark btn-lg">NUEVO VIAJE</button>
</div>
<div id="trip_list">
    <div class="container">
        <br>
        <h2>Viajes</h2>
    
        {% if message %}
            <div>{{ message }}</div>
        {% endif %}
    
        <br>
        <div class="row">
            <div class="col-12">
                <div class="table table-striped" style="width:100%">
                    <table id="trips" class="table table-hover">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Status</th>
                                <th>Version</th>
                                <th>Monto</th>
                                <th>Cliente</th>
                                <th>Ref Cliente</th>
                                <th>Contacto</th>
                                <th>Fecha Viaje</th>
                                <th>Acciones</th>
                            </tr>
                            <tbody>
                                {% for trip in trips %}
                                <tr data-bs-toggle="modal" data-bs-target="#windowTrip{{ trip.id }}">
                                    <td>{{ trip.name }}</td>
                                    <td>{{ trip.status }}</td>
                                    {% if trip.version == none %}
                                        <td>n/a</td>
                                    {% else %}
                                        <td>{{ trip.version }}</td>
                                    {% endif %}
                                    {% if trip.amount == none %}
                                        <td>n/a</td>
                                    {% else %}
                                        <td>{{ trip.amount }}</td>
                                    {% endif %}
                                    <td>{{ trip.client }}</td>
                                    {% if trip.client_reference == none %}
                                        <td>n/a</td>
                                    {% else %}
                                        <td>{{ trip.client_reference }}</td>
                                    {% endif %}
                                    <td>{{ trip.contact }}</td>
                                    <td>{{ trip.travelling_date }}</td>
                                    <td>
                                        <div class="justify-content-around d-flex">
                                            <i class="fa-solid fa-pencil" id="pencil-trip-{{trip.id}}" aria-hidden="true"></i>
                                            <i class="fa-solid fa-trash" id="trash-trip-{{trip.id}}" aria-hidden="true"></i>
                                        </div>
                                    </td>
                                </tr>
                                <div class="modal fade modal-xl modal-trip" id="windowTrip{{ trip.id }}" tabindex="-1" aria-labelledby="label{{ trip.id }}">
                                    <div class="modal-dialog modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h3 class="modal-title fs-5" id="label{{ trip.id }}">{{ trip.name }} - {{ trip.client }}</h3>
                                                <button tyle="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                                            </div>
                                            <div class="modal-body">
                                                <h3>Notas</h3>
                                                <div class="table table-striped" id="notes-{{ trip.id }}"></div>
                                                <br>
                                                <h3>Entradas</h3>
                                                <div class="table table-striped" id="entries-{{ trip.id }}"></div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </tbody>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}