{% extends "intranet/layout.html" %}

{% block body %}
    <h2>Crear Nuevo Usuario</h2>

    {% if message %}
        <div class="message text-center">{{ message }}</div>
    {% endif %}

    <br>
    <br>
    <div class="container">
        <div class="text-center d-flex justify-content-around">
            <form class="rw-3 text-center" action="{% url 'users' %}" method="post">
                {% csrf_token %}
                <div class="form">
                    <div class="row">
                        <div class="mb-3 col">
                            <input autofocus class="form-control" type="text" name="name" id="name" placeholder="Nombre">
                        </div>
                        <div class="mb-3 col">
                            <input class="form-control" type="text" name="username" id="username" minlength="2" maxlength="3" placeholder="Usuario">
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col">
                            <input class="form-control" type="password" name="password" id="password" placeholder="Contraseña">
                        </div>
                        <div class="mb-3 col">
                            <input class="form-control" type="email" name="email" id="email" placeholder="E-mail">
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col">
                            <select class="form-control" aria-label="department" name="department">
                                <option selected value="">Departamento</option>
                                {% for department in departments %}
                                <option value="{{ department.0 }}">{{ department.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-check-sm mb-3 col">
                            <input class="form-check-input" type="checkbox" value="" id="checkDefault" name="admin">
                            <label class="form-check-label" for="checkDefault">
                            Administrador
                            </label>
                        </div>
                    </div>
                    <input class="btn btn-dark" type="submit" value="GUARDAR">
                </div>
            </form>
        </div>
        <br>
        <hr class="mb-5">
        <div class="col-8 text-center">
            <table id="users" class="table table-hover">
                <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Departamento</th>
                        <th>Administrador</th>
                        <th>Visible</th>
                        <th>Activado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.other_name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.department }}</td>
                        {% if user.isAdmin == True %}
                            <td>Sí</td>
                        {% else %}
                            <td>No</td>
                        {% endif %}
                        {% if user.isActivated == True %}
                            <td>Sí</td>
                        {% else %}
                            <td>No</td>
                        {% endif %}
                        {% if user.is_active == True %}
                            <td>Sí</td>
                        {% else %}
                            <td>No</td>
                        {% endif %}
                        <td>
                            <div class="justify-content-around d-flex">
                                <i class="fa-solid fa-pencil" width="1px"" id="pencil-user-{{user.id}}" aria-hidden="true"></i>
                                <i class="fa-solid fa-trash" width="1px"" id="trash-user-{{user.id}}" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#windowUserTrash{{ user.id }}"></i>
                            </div>
                            <div class="modal fade modal-lg" id="windowUserTrash{{ user.id }}" tabindex="-1" aria-labelledby="label{{ user.id }}">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-8" id="label{{ user.id }}">Eliminando {{ user.other_name }} - {{ user.username }}</h1>
                                            <button tyle="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                                        </div>
                                        <div class="modal-body">
                                            <h3>¿Está seguro que desea eliminar el usuario {{ user.other_name }}?</h3>
                                            <br>
                                            <div class="container text-center">
                                                <button id="delete-user-{{ user.id }}" class="btn btn-dark btn-lg delete-users-btn">ELIMINAR</button></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <br>
{% endblock %}